button {
  border: 0;
  background: transparent;
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}
.slick-slider {
  width: 100%;
}
